<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
    (click)="onToggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Empoyee Management System</span>
  <span style="flex: auto 1 1;"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
    (click)="onLogout()">
    <!-- <mat-icon>account_circle</mat-icon> -->
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>