.table-container {
  overflow: auto;
  height: 100%;
  // height: 400px;
  width: 100%;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 20%;
}

@media (width: 450px) {
  .mat-form-field {
    width: 50%;
  }
}

td, th {
  width: 25%;
}

.mat-table {
  overflow-x: scroll;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.mat-row,
.mat-header-row {
  display: table-row;
}

.button-container {
  display: flex;
}

.button-content {
  margin: auto;
}

.mat-button-base {
  margin: 8px 8px 8px 0;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}
