<div class="employee-container">
  <span class="mat-display-1 title-head">{{ employeeStatus }} Employee</span>
  
  <div class="button-container">
    <div class="button-content">
      <button mat-icon-button
        (click)="onBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <ng-container *ngIf="!isEdit">
        <button mat-icon-button color="primary"
          (click)="onSave()">
          <mat-icon>save</mat-icon>
        </button>
      </ng-container>
    </div>
    <span style="flex: auto 1 1;"></span>
    <div class="button-info-content">
      <button mat-icon-button color="primary">
        <mat-icon>info</mat-icon>
      </button>
    </div>
  </div>

  <div class="add-container">
    <form [formGroup]='form'>
      <div fxLayout="row" fxLayout.lt-sm="column">
        <mat-form-field class="input-full-width" appearance="fill" *ngIf="isEdit">
          <mat-label>ID</mat-label>
          <input matInput name="id" formControlName="id" [readonly]="isReadonly">
        </mat-form-field>
        <mat-form-field class="input-full-width" appearance="fill">
          <mat-label>User Name</mat-label>
          <input matInput name="username" formControlName="username" [readonly]="isReadonly">
        </mat-form-field>
        <mat-form-field class="input-full-width" appearance="fill">
          <mat-label>First Name</mat-label>
          <input matInput name="firstName" formControlName="firstName" [readonly]="isReadonly">
        </mat-form-field>
        <mat-form-field class="input-full-width" appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput name="lastName" formControlName="lastName" [readonly]="isReadonly">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.lt-sm="column">
        <mat-form-field class="input-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput name="email" formControlName="email" [readonly]="isReadonly">
        </mat-form-field>
        <mat-form-field class="input-full-width" appearance="fill">
          <mat-label>Birth Date</mat-label>
          <input matInput name="birthDate" formControlName="birthDate" [readonly]="isReadonly">
        </mat-form-field>
        <mat-form-field class="input-full-width" appearance="fill">
          <mat-label>Basic Salary</mat-label>
          <input matInput name="basicSalary" formControlName="basicSalary" [readonly]="isReadonly">
        </mat-form-field>
        <mat-form-field class="input-full-width" appearance="fill">
          <mat-label>Status</mat-label>
          <input matInput name="status" formControlName="status" [readonly]="isReadonly">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.lt-sm="column">
        <mat-form-field class="input-full-width" appearance="fill">
          <mat-label>Group</mat-label>
          <input matInput name="group" formControlName="group" [readonly]="isReadonly">
        </mat-form-field>
        <mat-form-field class="input-full-width" appearance="fill">
          <mat-label>Description</mat-label>
          <input matInput name="description" formControlName="description" [readonly]="isReadonly">
        </mat-form-field>
      </div>
    </form>
  </div>

</div>